@import url(/style/reset.css);
@import url(/style/theme.css);
@import url(/style/base.css);
@import url(/components/css/card.css);

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 20px;
}

.container {
  margin: 0 auto;
  display: grid;
  padding: 1.875rem;
  gap: 1.25rem;
}

@media (max-width: 640px) {
  .container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 640px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

/* @media (min-width: 1025px) {
  .container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
} */
/* max-width: 1440px;
grid-template-columns: 1fr 1fr 1fr; */
/* 오토핏 - 자동으로 잡아늘려서 피팅 */
/* 오토필 - 공간이 남아있어도 늘리지 않음(딱 컬럼만큼만) */
/* 플렉서블한 레이아웃은 오토핏을 더 많이 사용~ */