@import url(/style/base.css);
@import url(/style/reset.css);
@import url(/components/css/grid.css);

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  min-height: 100vh;
  /* 컨테이너의 높이가 없으면 플렉스 아이템의 플렉스 그로우가 안 먹힘? */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .header, .navigation, .footer {
    height: 100px;
    width: 100%;
  }
  
  .main {
    max-width: 90%;
    width: 100%;
    flex: 1 0 auto;
    gap: 24px;
  }
}

/* .header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
} */

/* 햄버거 버튼 */
.burger-button {
  background: transparent;
  border: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  
  .burger-bar {
    width: 100%;
    height: 20%;
    background-color: #fff;
    border-radius: 20px;
    grid-area: 1 / 1 / 2 / 2;
    transition: all 400ms;
  }

  .burger-bar-top {
    align-self: start;
  }
  
  .burger-bar-middle {
    align-self: center;
  }
  
  .burger-bar-bottom {
    align-self: end;
  }

  /* is-active 클래스가 있을 때 */
  &.is-active {
    
    .burger-bar-top, .burger-bar-bottom {
      align-self: center;
    }
  
    .burger-bar-top {
      rotate: 45deg;
    }
    
    .burger-bar-middle {
      translate: -100% 0;
    }
    
    .burger-bar-bottom {
      rotate: -45deg;
    }
  }

  @media (min-width: 768px) {
    display: none;
  }
}


/* 내비게이션 */
/* position: fixed; 뷰포트 기준 배치 */
/* transition - 애니메이션 */
.menu {
  position: fixed;
  background: salmon;
  top: 0;
  left: 0;
  width: 70%;
  height: 100vh;
  translate: -100% 0;
  /* 선생님은 성능관점에서 translate을 선호 */
  /* transition-property: translate, background;
  transition-duration: 2000ms, 2000ms;
  transition-delay: 0ms, 4000ms;
  transition-timing-function: ease-in-out, ease-in-out; */

  /* 시간 중 앞에 있는 게 무조건 듀레이션 */
  /* transition: translate 2000ms 0ms ease-in-out, 
              background 2000ms 2000ms ease-in-out; */
  /* 트랜지션은 트리거?에 주는 거보단 밖에 짜는 게 좋다?? */
  transition: all 0.4s;
  
  &.is-active {
    translate: 0 0;
    background: purple;
  }

  /* a {
    font-size: 20px;
    transition: color 1000ms;


    &:hover {
      color: purple;
    }
  } */
}


/* 로고 */
.logo {
  background-color: blue;
  background-image: image-set(
    url(/images/webcafe-logo.png) 1x,
    url(/images/webcafe-logo@2x.png) 2x
  );
  background-size: cover;
  background-repeat: no-repeat;
  width: 20%;
  aspect-ratio: 1/0.28921568627450983;
}

/* 추천 서적 - book */
.main {
  background-color: transparent;
}

/* .book {
  background-color: transparent;
  background-image: url(/apple/apple_watch.jpeg);
  background-repeat: no-repeat;
  background-position: 0 100%;
  mask-image: url(/svg/star.svg);
  -webkit-mask-image: url(/svg/star.svg);
  mask-repeat: no-repeat;
  mask-position: 50% 50%;
  -webkit-mask-position: 50% 50%;
} */

/* 트위터 */
.twitter {
  font-size: 100px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/apple/apple_watch.jpeg);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-clip: text;
  color: transparent;
}

/* 새소식 */
.iframe-container {
  margin: 0;
  width: 100%;
  aspect-ratio: 16/9;

  iframe {
    width: 100%;
    height: 100%;
    vertical-align: top;
  }
}

/* 스프라이트 이미지 */
/* 서버 요청 횟수를 줄이기 위해 스프라이트 이미지 하나로 */
/* .sprite {
  height: 60px;
  background-color: hotpink;
  background-image: url(/images/sprite_main.png);
  background-repeat: no-repeat;
  text-indent: 65px;
}

.news .sprite {
  background-position: 0 -230px;
} */