@import url(./grid.css);

.container {
  min-height: 100vh;
  /* 컨테이너의 높이가 없으면 플렉스 아이템의 플렉스 그로우가 안 먹힘? */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.header, .navigation, .footer {
  height: 100px;
  width: 100%;
}

.main {
  max-width: 90%;
  width: 100%;
  flex: 1 0 auto;
  gap: 24px;
}