@import url(./defalt.css);

body {
  /* font-size: clamp(0.75rem, 3vw ,2.25rem); */
}

.container {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  /* width: 80%;
  margin: 0 auto; */

  /* div {
    background-color: #fff;
    box-shadow: 0 0 0 1px #000;
  } */
}

.container-fluid {
  width: 80%;
  margin: 0 auto;
  /* width: clamp(500px, 80%, 800px); */
}

.container-fixed {
  width: 1200px;
  margin: 0 auto;
}

/* .header, .navigation, .wrapper, .footer {
  width: 80%;
  margin: 0 auto;
} */

.header {
  height: 70px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 20px;

  div {
    background-color: #fff;
    box-shadow: 0 0 0 1px #000;
  }
}

.logo {
  /* margin-right: auto; */
  flex-shrink: 0;
}

.login {
  order: 1;
  flex-shrink: 0;
}

.search {
  flex-grow: 1;
}

.navigation {
  height: 50px;
}

.footer {
  height: 50px;
}

.wrapper {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 50px;
  flex: 1 0 0;
  /* overflow: auto; */
}

/* .main과 .sidebar를 Grouping */
.main {
  flex: 1 0 0;
  min-width: 500px;

  .pagination {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
  }
}

.sidebar {
  flex: 0 0 150px;
}

.pagination {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 0.5rem;

  button {
    background: transparent;
    border: 0;
    padding: 0;
    flex: 0 0 2rem;
    color: var(--light-blue);
  }

  button:focus {
    border: 1px solid var(--dark-blue);
  }

  div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    flex: 1 1 0;

    a {
      color: var(--light-blue);
      padding: 0.5rem 1rem;
    }
  
    .is-selected {
      color: var(--dark-blue);
      font-weight: 700;
    }
  }
}