:root {
  --container-size: 940px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* 그라디언트 배경, 배경 이미지 */
body {
  margin: 0;
  font-family: "SUIT Variable", sans-serif;
  background: #ccc;
  background-image: url(/images/bg_flower.png), linear-gradient(to bottom, #aaa 0%, #ccc 30%, #eee 50%, #fff 100%);
  background-repeat: no-repeat;
  background-position: 50% 0, 0 0;
}

.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: var(--container-size, 940px);
  inline-size: var(--container-size, 940px);
  margin: 0 auto;
}

/* 헤더 */
.header {
  background-color: #fff;
  height: 120px;
  padding: 0 50px;
  border-radius: 0 0 15px 15px;
  /* border-radius: 1 2 3 4 (x축의 값) / 5 6 7 8 (y축의 값) */
  position: relative;
}

/* 로고 */
.logo {
  /* background: rgb(255, 214, 131); */
  position: absolute;
  top: 45px;
  left: 60px;
}

/* 비주얼 */
  @keyframes moveEffect {
    0% {
      font-size: 12px;
      /* transform: translate(0, 0); */
      translate: 0 0;
    }
    100% {
      font-size: 24px;
      /* transform: translate(400px, 75px); */
      translate: 400px 75px;
    }
  }

  @keyframes fadeEffect {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .visual {
    height: 120px;
    block-size: 120px;
    position: relative;
    
    &::before, &::after {
      content: "";
      width: inherit;
      inline-size: inherit;
      height: inherit;
      block-size: inherit;
      position: absolute;
      top: 0;
      left: 0;
      background-repeat: no-repeat;

      animation-name: fadeEffect;
      animation-duration: 4000ms;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }
  
  .visual::before {
    background-image: url(/images/ani_flower_01.png), url(/images/ani_flower_02.png);
    background-position: 0 -10px, 600px 10px;
  }
  
  .visual::after {
    background-image: url(/images/ani_flower_03.png), url(/images/ani_flower_04.png);
    background-position: 300px 0px, 800px 30px;
    animation-delay: 2000ms;
  }
  
  .visual-text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation-name: moveEffect;
    animation-duration: 5000ms;
    animation-fill-mode: forwards;
    display: inline-block;
    z-index: 1;
    position: relative;
  }

/* 메인 컨텐츠 */
.main {
  background-color: #fff;
  display: flow-root;
  min-height: 450px;
  padding: 28px 16px 36px;
}

.group {
  border: 1px solid red;
  float: left;
}

.group:nth-child(n+2) {
  margin-left: 44px;
}

.group1 {
  width: 250px;
  /* background: olive; */
}

.group2 {
  width: 380px;
  /* background: silver; */
}

.group3 {
  width: 190px;
  /* background: hotpink; */
}

/* 슬로건 */
.slogan {
  /* background-color: lime; */
  height: 10vh;
}

/* 푸터 */
.footer {
  /* background-color: orange; */
}
.footer-inner {
  /* background: yellow; */
  height: 10vh;
}


/* ------------------------------------------------------ */
/*           flex를 지원하는 웹브라우저를 위한 스타일           */
/* ------------------------------------------------------ */

@supports (display: flex) {
  .main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}